apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: bmif
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: bmif
    app.kubernetes.io/part-of: byoc-app-ucgy
  name: bmif
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: java-quarkus-app
      app.kubernetes.io/instance: bmif
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: java-quarkus-app
        app.kubernetes.io/instance: bmif
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/byoc-rgay-tenant/byoc-app-ucgy/bmif@sha256:7b9e347eecdccb35cfa0047684da00a22d51e146c65899fcdaae29237c2ec561
        name: my-java-quarkus
        ports:
        - containerPort: 8081
          name: http
          protocol: TCP
        resources:
          requests:
            cpu: 10m
            memory: 100Mi
status: {}
